extends layout

block content

  h1 #{title}

  form(method='POST')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Enter item\'s name' name='name' required value=(undefined===item ? '' : item.name))
    div.form-group  
      label(for='description') Description:
      textarea#description.form-control(placeholder='Enter item\'s description' name='description')= undefined===item ? '' : item.summary
    div.form-group
      label(for='price') Price:
      input#price.form-control(type='number', step='0.01' placeholder='Enter item\'s price' name='price' required value=(undefined===item ? '' : item.price))
    div.form-group
      label(for='stock') Stock:
      input#stock.form-control(type='number', placeholder='Enter item\'s stock' name='stock' required value=(undefined===item ? '' : item.stock))
    div.form-group
      label Category:
      div
        for category in categories
          div(style='display: inline; padding-right:10px;')
            if category.checked
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked)
            else
              input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id)
            label(for=category._id) &nbsp;#{category.name}
    button(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
